.video-player-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.44);
  background: #666; }
  .video-player-popup.v-hidden, .video-player-popup .v-hidden {
    display: none; }
  .video-player-popup.v-visible, .video-player-popup .v-visible {
    display: block; }
  .video-player-popup.pos-relative, .video-player-popup .pos-relative {
    position: relative !important; }
  .video-player-popup.pos-absolute, .video-player-popup .pos-absolute {
    position: absolute !important; }
  .video-player-popup .close-video {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 6px;
    font-size: 55px;
    color: #fff; }
  .video-player-popup .video-heading {
    background: #ddd;
    margin: 0;
    padding: 7px 0; }
    .video-player-popup .video-heading span {
      padding: 0 7px; }
  .video-player-popup .vjs-fullscreen {
    position: relative !important;
    top: 0 !important;
    left: 0 !important; }
